datasources:
  postgres:
    url: jdbc:postgresql://kestra_postgres:5432/kestra
    driverClassName: org.postgresql.Driver
    username: kestra
    password: k3str4
kestra:
  server:
    basicAuth:
      username: "admin@kestra.io" # it must be a valid email address
      password: Admin1234
  repository:
    type: postgres
  storage:
    type: local
    local:
      basePath: "/app/storage"
  queue:
    type: postgres
  tasks:
    tmpDir:
      path: /tmp/kestra-wd/tmp
  url: http://localhost:8080/
  ai:
    type: "gemini"
    gemini:
      model-name: gemini-2.5-flash